{:cljdoc.doc/tree
  [["Readme" {:file "README.md"}]
   ["Table API" {:file "doc/table-api.md"}]
   ["Examples Gallery" {:file "doc/examples-gallery.md"}]
   ["Layout Language" {:file "doc/layout-language.md"}]
   ["Preset Catalog" {:file "doc/presets.md"}]
   ["Recipes" {:file "doc/recipes.md"}]
   ["Command Line" {:file "doc/cli.md"}]
   ["Errors" {:file "doc/errors.md"}]
   ["Changelog" {:file "CHANGELOG.md"}]]}
